body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/bgcolor.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
    
    
header {
    background-color: #efeaede0;
    color: rgb(45, 199, 199);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: rgba(30, 19, 189, 0.356);
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: hwb(0 100% 0% / 0.981);
    text-decoration: none;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#home {
    background-image: url(img/newbg.jpeg);
    background-size: cover;
    padding: 100px 20px;
}

#about, #services, #portfolio, #contact {
    background-image:url(img/newbg.jpeg);
    background-size: cover;
    background-position: 0vmax;
    border-bottom: 1px solid #0e0e01a3;
}

h1, h2 {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color:  #117ced;
    color: black;
}


footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    section {
        text-align: left;
        padding: 60px 40px;
    }

    header nav ul li {
        margin: 0 20px;
    }

    .button {
        padding: 15px 30px;
    }
}
